/* ! Reset */
body, html{font-size: 20px; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif; box-sizing: border-box;margin: 0;padding: 0;}
*,*:before,*:after{box-sizing: border-box;}
h1,h2,h3,h4,h5,h6, p, ol, ul{margin: 0;padding: 0;}
ol,ul{list-style-type: none;}
img{height: auto;}

cite{ font-size: 3rem; padding: 4% 0; display: block;}

body{ background-color: dimgrey;}

a{ color: lightgray; text-decoration: none; }

p{ line-height: 1.3;}

h1{ font-size: 3rem; }
h2{ font-size: 2rem; }
h3{ font-size: 1rem; }

.text-1{ font-size: 4rem; color: lightgray; }
@media (max-width: 768px) {
  .text-1{ font-size: 2rem; }
}

/* --------------------------------------------------------------- */


/* Logo */
.logo{
  /* border: 1px solid indigo; */
  position: fixed;
  top:0;
  left: 0;
  padding: 3%;
  display: block;
  z-index: 3;
  transition: all 1s cubic-bezier(.215, .61, .355, 1);
}


/* Menu */
.menu{
  /* border: 1px solid indigo; */
  position: fixed;
  bottom:0;
  left: 0;
  padding: 3%;
  display: block;
  z-index: 3;
  transition: all 1s cubic-bezier(.215, .61, .355, 1);
}

.menu-trigger{ display: none; }

@media (min-width: 768px) {
  .scrolled-down .logo,
  .scrolled-down .menu{
    padding: 2%;
  }
}

@media (max-width: 768px) {
  .menu{
    background: rgb(48, 48, 48);
    width: 75vw;
    height: 100vh;
    transform: translateX(-100%);
    transition: all 1s cubic-bezier(.215, .61, .355, 1);
  }

  .menu a{
    display: block;
    padding: 10px;
    font-size: 22px;
  }

  .menu-trigger{ 
    display: block; 
    position: fixed;
    padding: 3%;
    top: 0;
    right: 0;
    color: lightgray;
    z-index: 3
  }

  .menu-open .menu{
    transform: translateX(0);
    box-shadow: 0 5px 20px rgba(0, 0, 0, .9);
  }
}


/* Hero */
.hero{
  /* border: 1px solid indigo; */
  height: 80vh;
  width: 100%;
  position: relative;
  background: url("/assets/tree.jpg") no-repeat center center;
  background-size: 85%;
}

.hero__title{
  position: absolute;
  bottom: 50%;
  right: 5%;
}

@media (max-width: 768px) {
  .hero{height: 50vh;}
}


/* Content */
.content{
  max-width: 60%;
  margin: 0 auto;
  padding: 2%;
}

@media (max-width: 768px) {
  .content{ max-width: 90%; }
}

.cover{
  height: 80vh;
  width: 100%;
  padding: 4%;
  background: url("/assets/leaf.jpg") no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content:center;
  align-items: center;
}

.cover__text{ 
  color: lightgray;
}

/* Grit system */
.grid{
  display:flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.col-50{
  padding: 5%;
  width: 50%;
}

.col-33{
  padding: 5%;
  width: 33.33%;
}


@media (max-width: 768px) {
  .col-50, .col-33{ width: 100% }
}


/* Helpers */
.img-res{ width: 100%; height: auto;}
.mt-1{ margin-top: 100px }
