/* ! Reset */
body, html{font-size: 20px;
  font-family: "Teko", Arial, Helvetica, sans-serif;
  box-sizing: border-box;margin: 0;padding: 0;}
*,*:before,*:after{box-sizing: border-box;}
h1,h2,h3,h4,h5,h6, p, ol, ul{margin: 0;padding: 0;}
ol,ul{list-style-type: none;}
img{height: auto;}

cite{ font-size: 2rem; padding: 4% 0; display: block;}

body{ background-color: rgb(126, 126, 126);}

h1{ font-size: 3rem; }
h2{ font-size: 2rem; }
h3{ font-size: 1rem; }

a{ color: black; text-decoration: none; font-size: 30px; font-weight: bold}

p{ line-height: 28px; font-weight: 300; }

.text-1{ font-size: 3rem; color: lightgray; }
.tw{ color: slategrey; }

.button{
  padding: 15px 20px;
  margin: 10px 0;
  background: coral;
  color: black;
  display: inline-block;
  border-radius: 0%;
}

@media (max-width: 768px) {

  a{ color: lightgray; text-decoration: none; font-size: 30px;}

  .text-1{ font-size: 2rem; }

  .button{
    padding: 5px 0px;
    background: none;
    float: right;
  }

  .menu{
    position: absolute;
    top: 0;
    right: 0;
    background: red;
  }
}

/* --------------------------------------------------------------- */

/* Header */
.header{}

/* Logo */
.logo{
  /* border: 1px solid indigo; */
  height: 400px;
  width: 400px;
  position: fixed;
  top:0;
  left: 0;
  padding: 5%;
  display: block;
  z-index: 4;
  transition: all 1s cubic-bezier(.215, .61, .355, 1);
}

/* Hero */
.hero{
  /* border: 1px solid indigo; */
  position: relative;
  height: 95vh;
  width: 100%;
  display: flex;
  align-items: center;
  background-size: cover;
  overflow: hidden;
}

.hero:after{
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top:0;
  left: 0;
  background: linear-gradient(0, rgba(0,0,0,.1), rgba(0,0,0,.8));
}

.hero__content{
  max-width: 1350px;
  margin: 0 auto;
  right: 5%;
  position: absolute;
  z-index: 1;
}

.hero--small{
  height: 30vh;
}

#video_back{
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
  object-fit: cover;
  height: 100%;
  width: 177.77777778vh; /* 100 * 16 / 9 */
  min-width: 100%;
  min-height: 56.25vw; /* 100 * 9 / 16 */
}

@media (max-width: 768px) {
  .hero{height: 50vh;}
}


/* Menu */
.menu{
  /* border: 1px solid indigo; */
  position: fixed;
  bottom:0;
  left: 0;
  padding: 5%;
  display: block;
  z-index: 3;
  transition: all 1s cubic-bezier(.215, .61, .355, 1);
}

.menu-trigger{ display: none; }

@media(max-width: 768px){
  .logo{
    top: 30px;
    left: 30px;
    height: 100px;
    width: 100px;
    padding: 0;
  }
}

@media (min-width: 768px) {
  .scrolled-down .logo,
  .scrolled-down .menu{
    padding: 2%;
  }
}

@media (max-width: 768px) {
  .menu{
    background: rgb(48, 48, 48);
    width: 100%;
    height: 100vh;
    padding-top: 150px;
    transform: translateX(-100%);
    transition: all 1s cubic-bezier(.215, .61, .355, 1);
  }

  .menu a{
    display: block;
    padding: 10px;
    font-size: 22px;
  }

  .menu-trigger{ 
    display: block; 
    height: 30px;
    width: 20px;
    position: absolute;
    top: 30px;
    right: 30px;
    color: lightgray;
    z-index: 4
  }

  .menu-trigger span{
    background: lightgray;
    height: 3px;
    display: block;
    margin-bottom: 5px;
  }

  .menu-open .menu{
    transform: translateX(0);
    box-shadow: 0 5px 20px rgba(0, 0, 0, .9);
  }
}


/* Content */
.content{
  max-width: 60%;
  margin: 0 auto;
  padding: 2%;
}

@media (max-width: 768px) {
  .content{ max-width: 90%; }
}


/* Poster */
.poster{
  display: flex;
  height: 100vh;
  width: 80%;
  align-items: center;
}

.poster__img{ width: 65%; height: 100%; }
.poster__img img{ object-fit: cover; width: 100%; height: 100%;   border-radius: 0 20px 20px 0; }
.poster__content{ width: 35%; padding: 20px; }

@media(max-width: 768px){
  .poster{ flex-wrap: wrap; height: auto; }
  .poster__img, .poster__content{ width: 100% }
}


/* Cover */
.cover{
  height: 80vh;
  width: 100%;
  padding: 100px;
  background: linear-gradient(0, rgba(0,0,0,.3), rgba(0,0,0,.5)), url("/assets/yec2023/aereoNew.jpg") no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content:center;
  align-items: center;
}

.cover__text{ 
  color: lightgray;
}


/* Carousel */
.main-carousel{
  padding: 40px 0;
}

.carousel-cell{
  height: 300px;
  width: 300px;
  margin-right: 40px;
}

.carousel-cell__content{
  height: 100%;
  width: 100%;
  background: rgb(35, 73, 52);
  border-radius: 100%;
  line-height: 300px;
  text-align: center;
}


/* Panel info */
.panel-info{
  background: rgb(39, 39, 39);
  padding: 45px;
}
.panel-info__text{ display: flex; align-items: center; }

.dot{
  height: 200px;
  width: 200px;
  border-radius: 100%;
  background: rgb(126, 126, 126);
  line-height: 200px;
  text-align: center;
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 20px;
}


/* Footer */
.footer {
  background: rgb(27, 27, 27);
  padding: 120px 0;
}


/* Grit system */
.grid{
  display:flex;
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 30px;
}

.col{
  width: 100%;
  padding: 10px;
}

.col-50{
  padding: 5%;
  width: 50%;
}

.col-33{
  padding: 5%;
  width: 33.33%;
}


@media (max-width: 768px) {
  .col-50, .col-33{ width: 100% }
  .grid{ flex-wrap: wrap; }
}


/* Helpers */
.img-res{ width: 100%; height: auto; border-radius: 20px;}
.mt-1{ margin-top: 50px }
.mt-2{ margin-top: 100px }
.mt-3{ margin-top: 150px }


/* Items */
.arrow-right{
  float: right;
  width: 10px;
  height: 10px;
  margin: 11px 10px 0;
  border-top: 2px solid black;
  border-left: 2px solid black;
  transform: rotate(135deg);
}

.arrow-left::after{
  display: block;
  width: 2px;
  height: 25px;
  background-color: black;
  transform: rotate(-45deg) translate(15px, 4px);
  left: 0;
  top: 0;
}